@font-face {
	font-family:Titulo;
	src:url(../fontes/ANODETONOONE.TTF);
}

h1 {
	font-family:Titulo;
	font-size:40px;
	color:#603A03;
}

body {
	background-image:url(../imgs/exer_imgs/fundo_geral.png);
}

#container{
	width:1050px;
	height:auto;
	position:relative;
	margin-left:auto;
	margin-right:auto;
}

#fundoGame {
	width:1050px;
	height:630px;
	background-image:url(../imgs/exer_imgs/fundo_game1.png);
	border-color:#040513;
	border-style:solid;
}

#jogador {
	width:160px;
	height:140px;
	position:absolute;
	left:8px;
	top:179px;
	background-image:url(../imgs/exer_imgs/APACHE_01_XXX.png);
	
}

#inimigo1 {
	width:189px;
	height:201px;
	position:absolute;
	left: 850px;
	top: 20px;
	background-image:url(../imgs/exer_imgs/INIMIGO_1.png);
	
}

#inimigo2 {
	width:210px;
	height:134px;
	position: absolute;
	left: 850px;
	top: 420px;
	background-image: url(../imgs/exer_imgs/INIMIGO_2_X.png);
	
}

#amigo {
	width: 85px;
	height: 100px;
	position: absolute;
	left: 10px;
	top: 450px;
	background-image:url(../imgs/exer_imgs/amigo_X.png);
	
}

#inicio {
	width: 350px;
	height: 200px;
	background-color: #FFF;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	text-align:center;
	padding:10px;
	border-color:#278BB7;
	border-style:solid;
}

.anima1 {
	background-image:url(../imgs/exer_imgs/APACHE_01_XXX.png);
	animation:play .5s steps(13) infinite;
	
	-webkit-animation: play .5s steps(13) infinite;
    -moz-animation: play .5s steps(13) infinite;
    -ms-animation: play .5s steps(13) infinite;
    -o-animation: play .5s steps(13) infinite;
	
}

@keyframes play {
	from {background-position:0px;}
	to {background-position:-2205px;}
}

@keyframes play {
	from {background-position:0px;}
	to {background-position:-2205px;}
}


@-webkit-keyframes play {
   from { background-position:0px; }
     to { background-position: -2205px; }
}

@-moz-keyframes play {
   from { background-position:0px; }
     to { background-position: -2205px; }
}

@-ms-keyframes play {
   from { background-position:0px; }
     to { background-position: -2205px; }
}

@-o-keyframes play {
   from { background-position:0px; }
     to { background-position: -2205px; }
}

.anima2 {
	background-image:url(../imgs/exer_imgs/INIMIGO_2_X.png);
	animation:play3 .5s steps(4) infinite;
	
	-webkit-animation: play3 .5s steps(4) infinite;
    -moz-animation: play3 .5s steps(4) infinite;
    -ms-animation: play3 .5s steps(4) infinite;
    -o-animation: play3 .5s steps(4) infinite;
	
}

@keyframes play3 {
	from {background-position:0px;}
	to {background-position:-842px;}
}

@keyframes play3 {
	from {background-position:0px;}
	to {background-position:-842px;}
}


@-webkit-keyframes play3 {
   from { background-position:0px; }
     to { background-position: -842px; }
}

@-moz-keyframes play3 {
   from { background-position:0px; }
     to { background-position: -842px; }
}

@-ms-keyframes play3 {
   from { background-position:0px; }
     to { background-position: -842px; }
}

@-o-keyframes play3 {
   from { background-position:0px; }
     to { background-position: -842px; }
}

.anima3 {
	background-image:url(../imgs/exer_imgs/amigo_X.png);
	animation:play2 .9s steps(12) infinite;
	-webkit-animation: play2 .9s steps(12) infinite;
    -moz-animation: play2 .9s steps(12) infinite;
    -ms-animation: play2 .9s steps(12) infinite;
    -o-animation: play2 .9s steps(12) infinite;
}

@keyframes play2 {
	from {background-position:0px;}
	to {background-position:-1058px;}
}

@-webkit-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -1058px; }
}

@-moz-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -1058px; }
}

@-ms-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -1058px; }
}

@-o-keyframes play2 {
   from { background-position:    0px; }
     to { background-position: -1058px; }
}


.anima4 {
	background-image:url(../imgs/exer_imgs/INIMIGO_1.png);
	animation:play4 .9s steps(12) infinite;
	-webkit-animation: play4 .9s steps(12) infinite;
    -moz-animation: play4 .9s steps(12) infinite;
    -ms-animation: play4 .9s steps(12) infinite;
    -o-animation: play4 .9s steps(12) infinite;
}

@keyframes play4 {
	from {background-position:0px;}
	to {background-position:-2300px;}
}

@-webkit-keyframes play4 {
   from { background-position:    0px; }
     to { background-position: -2300px; }
}

@-moz-keyframes play4 {
   from { background-position:    0px; }
     to { background-position: -2300px; }
}

@-ms-keyframes play4 {
   from { background-position:    0px; }
     to { background-position: -2300px; }
}

@-o-keyframes play4 {
   from { background-position:    0px; }
     to { background-position: -2300px; }
}

#disparo {
	width: 50px;
	height: 8px;
	position: absolute;
	background-image: url(../imgs/exer_imgs/disparo.png);
}

.anima5 {
	width:87px;
	height:102px;
	background-image:url(../imgs/exer_imgs/amigo_morte_1.png);
	animation:play5 .9s steps(7) infinite;
	-webkit-animation: play5 .5s steps(7) infinite;
       -moz-animation: play5 .5s steps(7) infinite;
        -ms-animation: play5 .5s steps(7) infinite;
         -o-animation: play5 .5s steps(7) infinite;
}

@keyframes play5 {
	from {background-position:0px;}
	to {background-position:-612px;}
}

@-webkit-keyframes play5 {
   from { background-position:    0px; }
     to { background-position: -612px; }
}

@-moz-keyframes play5 {
   from { background-position:    0px; }
     to { background-position: -612px; }
}

@-ms-keyframes play5 {
   from { background-position:    0px; }
     to { background-position: -612px; }
}

@-o-keyframes play5 {
   from { background-position:    0px; }
     to { background-position: -612px; }
}



#explosao1 {
	width:15px;
	height:87px;
	position:absolute;

}

#explosao2 {
	width:15px;
	height:87px;
	position:absolute;
	
}

#explosao3 {
	width:87px;
	height:102px;
	position:absolute;
}

#placar {
	width: 450px;
	height: 50px;
	position: absolute;
	left: 5px;
	top: -5px;
}

h2 {
	font-family:Titulo;
	font-size:20px;
	color:#0B0B0A 
}

#energia {
	width: 140px;
	height: 38px;
	position: absolute;
	left: 750px;
	top: 7px;	
}

h3 {
	font-family:Titulo;
	font-size:20px;
	color:#603A03;

}

#fimpaper {
	width:250px;
	height:150px;
	background-image:url(../imgs/exer_imgs/game_over.png);
	border-color:#040513;
	border-style:solid;
 	margin-left:auto;
    	margin-right:auto;
 	margin-top:10px;
	text-align:center;
	padding:100px;

}


#fim {
	width:350px;
	height:200px;
	background-color:#E9F7EF;
 	margin-left:auto;
    	margin-right:auto;
 	margin-top:100px;
	text-align:center;
	padding:10px;

}
